body {
    position: absolute;
    margin-left: 500px;
    margin-right: 500px;
    overflow-x: scroll;
    min-width: 1000px;
    
}  
#header {
    height: 75px;
    border-width: 300px;
    background-color: rgb(138, 138, 138);
    border: solid;
    width: 100%;
    min-width: 100%;
    position: relative;
    
}
#film_le_mieux_note {
    position: relative;
    margin-top: 10px;
    overflow: hidden;
}
#image_best_film {
    float: right;
}

#title_best_film {
font-size: xx-large;
}
#description_best_film {
    font-size: x-large;
}
#BoutonPlay {
    height: 50px;
}

.nom_site {
    font-size: xx-large;
    position: relative;
    display: inline-block;
    color: lavender;
    margin-left: 15px;
    
}
.lien_navigation{
    font-size: xx-large;
    color: lavender;
    justify-content: center;
    display: inline-block;
    left: 300px;
    margin-left: 15px;
    position: relative;
    
}  
.pochette {
    display: inline-block;
    margin-right: 20px;
    margin-left: 20px;
}
.pochette:hover {
    transform: scale(1.2);
}
#les_7_meilleirs_films {
    
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }
  
  #les_7_meilleurs_films :first-child {
      align-self: center;
  }

h1 {
    text-align: center;
}

#fenetreModale {
    position: relative;
    margin-right: 500px;
    margin-left: 500px;
    width: 970px;
}

#croix {
    text-align: center;
}

#image {
    float: right;
}





